##############################################################################################################################################################################
#Global Ignores
##############################################################################################################################################################################
*.xlsx
*.v11.suo
*.user
##############################################################################################################################################################################


##############################################################################################################################################################################
#BOFP.CRM Ignores
##############################################################################################################################################################################
BOFP.CRM/BOFP.ClientRelationManagement/[Bb]in/
BOFP.CRM/BOFP.ClientRelationManagement/[Oo]bj/
BOFP.CRM/BOFP.ConsoleApplication.Experiment/[Oo]bj/
##############################################################################################################################################################################


##############################################################################################################################################################################
#BOMBS.Client Ignores
##############################################################################################################################################################################
BOMBS.Client/BOMBS.Client.Console/[Oo]bj/
BOMBS.Client/BOMBS.Client.UI.Test/[Oo]bj/
BOMBS.Client/BOMBS.Client/[Oo]bj/
BOMBS.Client/BOMBS.Client/Service References/
BOMBS.Client/BOMBS.UI.Foundation/[Oo]bj/
##############################################################################################################################################################################


##############################################################################################################################################################################
#BOMBS.HRMS Ignores
##############################################################################################################################################################################
BOMBS.HRMS/BOMBS.HRMS.Entites/[Oo]bj/
##############################################################################################################################################################################


##############################################################################################################################################################################
#BOMBS.Service Ignores
##############################################################################################################################################################################
BOMBS.Service/BOMBS.Experiments.ConsoleApplication/[Oo]bj/
BOMBS.Service/Bombs.Service.AppController/[Oo]bj/
BOMBS.Service/BOMBS.Service/[Oo]bj/
BOMBS.Service/BOMBS.ServiceServer/[Oo]bj/
##############################################################################################################################################################################


##############################################################################################################################################################################
#BOMBS Core Ignores
##############################################################################################################################################################################
BOMBS/BOMBS.Administration/[Oo]bj/
BOMBS/BOMBS.Core.Console.Test/[Oo]bj/
BOMBS/BOMBS.Core.Library/[Oo]bj/
BOMBS/BOMBS.Core/[Oo]bj/
##############################################################################################################################################################################
/BOMBS.Service/BOMBS.Experiments.ConsoleApplication/bin/Debug
/BOMBS.Service/.vs/BOMBS.Service/v14
/BOMBS.Client/BOMBS.Client/Properties
/BOMBS.Client/.vs/BOMBS.Client/v14/.suo
*.suo
