<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICommunicator">
                    <reliableSession inactivityTimeout="20:00:10" enabled="true" />
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_ICommunicator1">
                    <reliableSession inactivityTimeout="20:00:10" enabled="true" />
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8511/BombsHost/tcp" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ICommunicator" contract="BombsHost.ICommunicator"
                name="NetTcpBinding_ICommunicator" />
            <endpoint address="net.tcp://localhost:1001/BombsHost/tcp" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ICommunicator1" contract="BombsHost.ICommunicator"
                name="NetTcpBinding_ICommunicator1" />
        </client>
    </system.serviceModel>
</configuration>